swagger: '2.0'
info:
  title: Zonesmart API
  description: 'API Zonesmart — API бэкенда сайта zonesmart, с которым должно происходить взаимодействие фронтенда. Через API Zonesmart можно взаимодействовать с API интегрированных с системой маркетплейсов, например, с API Ebay.'
  contact:
    email: dev@zonesmart.ru
  license: {}
  version: v1.0
host: zonesmart.su
schemes:
  - https
basePath: /api
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Authorization:
    name: 'JWT {JWT}'
    type: apiKey
    in: header
security:
  - API Key - 1: []
paths:
  /auth/jwt/create/:
    post:
      operationId: auth_jwt_create_create
      description: 'Обменивание логина и пароля пользователя Zonesmart на токены доступа и обновления. Токен доступа используется для авторизованных вызовов к API Zonesmart, а токен обновления используется для обновления токена доступа при его устаревании.'
      parameters:
        - name: data
          in: body
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
                description: Email пользователя
              password:
                type: string
                description: Пароль пользователя
            required:
              - email
              - password
          x-examples:
            Example:
              email: 123@gmail.com
              password: '123123'
          description: ''
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TokenObtainPair'
          x-examples:
            example-1: {}
      tags:
        - auth
      summary: Получение JWT-токенов
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              refresh:
                type: string
                description: Токен обновления
              access:
                type: string
                description: Токен доступа
    parameters: []
  /auth/jwt/refresh/:
    post:
      operationId: auth_jwt_refresh_create
      description: Обменивание токена обновления на токен доступа.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            type: object
            properties:
              refresh:
                type: string
                description: Токен обновления
            required:
              - refresh
          x-examples:
            Example:
              refresh: 123-333-123
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TokenRefresh'
          x-examples:
            example-1: {}
      tags:
        - auth
      summary: Обновление токена доступа
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              access:
                type: string
                description: Токен доступа
    parameters: []
  /users/:
    get:
      operationId: users_list
      description: Получение списка пользователей Zonesmart
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ZonesmartUser'
      tags:
        - user
      summary: Получение списка пользователей
    post:
      operationId: users_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/UserCreate'
      tags:
        - work_in_process
    parameters: []
  /users/activation/:
    post:
      operationId: users_activation
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Activation'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Activation'
      tags:
        - work_in_process
    parameters: []
  /users/me/:
    get:
      operationId: users_me_read
      description: 'Получение информации о своем пользователе, то есть пользователе, которому принаджежит используемый токен доступа.'
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                $ref: '#/definitions/User'
            required:
              - count
              - results
      tags:
        - user
      summary: Получение собственного пользователя
    put:
      operationId: users_me_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/User'
      tags:
        - work_in_process
    patch:
      operationId: users_me_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/User'
      tags:
        - work_in_process
    delete:
      operationId: users_me_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - work_in_process
    parameters: []
  /users/phone_confirm/:
    post:
      operationId: users_phone_confirm
      description: Подтверждение номера телефона с помощью кода из СМС.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ZonesmartUser'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ZonesmartUser'
      tags:
        - work_in_process
    parameters: []
  /users/phone_update/:
    post:
      operationId: users_phone_update
      description: Обновление / добавление номера телефона для пользователя.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ZonesmartUser'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ZonesmartUser'
      tags:
        - work_in_process
    parameters: []
  /users/resend_activation/:
    post:
      operationId: users_resend_activation
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SendEmailReset'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/SendEmailReset'
      tags:
        - work_in_process
    parameters: []
  /users/reset_email/:
    post:
      operationId: users_reset_username
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SendEmailReset'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/SendEmailReset'
      tags:
        - work_in_process
    parameters: []
  /users/reset_email_confirm/:
    post:
      operationId: users_reset_username_confirm
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UsernameResetConfirm'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/UsernameResetConfirm'
      tags:
        - work_in_process
    parameters: []
  /users/reset_password/:
    post:
      operationId: users_reset_password
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SendEmailReset'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/SendEmailReset'
      tags:
        - work_in_process
    parameters: []
  /users/reset_password_confirm/:
    post:
      operationId: users_reset_password_confirm
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/PasswordResetConfirm'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/PasswordResetConfirm'
      tags:
        - work_in_process
    parameters: []
  /users/set_email/:
    post:
      operationId: users_set_username
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetUsername'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/SetUsername'
      tags:
        - work_in_process
    parameters: []
  /users/set_password/:
    post:
      operationId: users_set_password
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetPassword'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/SetPassword'
      tags:
        - work_in_process
    parameters: []
  '/users/{id}/':
    get:
      operationId: users_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ZonesmartUser'
      tags:
        - work_in_process
    put:
      operationId: users_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ZonesmartUser'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ZonesmartUser'
      tags:
        - work_in_process
    patch:
      operationId: users_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ZonesmartUser'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ZonesmartUser'
      tags:
        - work_in_process
    delete:
      operationId: users_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this Пользователь.
        required: true
        type: integer
  /v1/aliexpress/account/:
    get:
      operationId: v1_aliexpress_account_list
      description: Данный endpoint используется для получения списка аккаунтов Aliexpress.
      parameters:
        - name: limit
          in: query
          description: Количество результатов для возврата на страницу.
          required: false
          type: integer
        - name: offset
          in: query
          description: Начальный индекс для возврата результатов.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
                description: Кол-во вернувшихся объектов.
              next:
                type: string
                format: uri
                x-nullable: true
                description: Страница для получение следующей группы объектов.
              previous:
                type: string
                format: uri
                x-nullable: true
                description: Страница для получение предыдущей группы объектов.
              results:
                type: array
                description: Список аккаунтов Aliexpress.
                items:
                  $ref: '#/definitions/AliexpressUserAccountList'
            required:
              - count
              - results
          examples:
            Example:
              count: 0
              next: 'http://example.com'
              previous: 'http://example.com'
              results:
                - id: string
                  marketplace_user_account:
                    id: string
                    marketplace_name: string
                    username: string
                    user: 0
                    marketplace: 0
                  access_token_expiry: '2020-06-10T07:31:20Z'
                  sandbox: true
      summary: Получение списка аккаунтов Aliexpress
      tags:
        - aliexpress_account
    parameters: []
  /v1/aliexpress/account/complete/:
    get:
      operationId: v1_aliexpress_account_complete
      description: 'Авторизовывает пользователя с помощью кода, который Aliexpress возвращает при авторизации.'
      parameters:
        - name: code
          in: query
          description: 'Код, полученный от Aliexpress'
          required: true
          type: string
      summary: Подключение или обновление аккаунта Aliexpress
      responses:
        '200':
          description: OK
          schema: {}
      tags:
        - aliexpress_account
    parameters: []
  /v1/aliexpress/account/login/:
    get:
      operationId: v1_aliexpress_account_login
      description: Перенаправляет пользователя на сайт Aliexpress для авторизации.
      parameters: []
      summary: Переход на страницу подключения аккаунта Aliexpress
      responses:
        '302':
          description: ''
          schema: {}
      tags:
        - aliexpress_account
    parameters: []
  '/v1/aliexpress/account/{id}/':
    get:
      operationId: v1_aliexpress_account_read
      description: Данный endpoint используется для получения аккаунта Aliexpress по id.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AliexpressUserAccount'
          examples:
            Example:
              id: string
              marketplace_user_account:
                id: string
                marketplace_name: string
                username: string
                user: 0
                marketplace: 0
              shop:
                id: string
                merchant_login_id: string
                shop_id: -2147483648
                title: string
                url: 'http://example.com'
                country_code: stri
                shop_type: string
                product_posting_forbidden: true
              access_token_expiry: '2020-06-10T07:31:20Z'
              sandbox: true
      summary: Получение аккаунта Aliexpress
      tags:
        - aliexpress_account
    delete:
      operationId: v1_aliexpress_account_delete
      description: Данный endpoint используется для удаления аккаунта Aliexpress по id.
      parameters: []
      responses:
        '204':
          description: ''
      summary: Удаление аккаунта Aliexpress
      tags:
        - aliexpress_account
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: Идентификатор аккаунта Aliexpress.
  /v1/aliexpress/listing/:
    get:
      operationId: v1_aliexpress_listing_list
      description: List of AliexpressListing instances
      parameters:
        - name: title
          in: query
          description: ''
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: channel
          in: query
          description: ''
          required: false
          type: string
        - name: marketplace_user_account
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BaseAliexpressListing'
      tags:
        - work_in_process
    post:
      operationId: v1_aliexpress_listing_create
      description: Create AliexpressListing instance
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAliexpressListing'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CreateAliexpressListing'
      tags:
        - work_in_process
    parameters: []
  '/v1/aliexpress/listing/{id}/':
    get:
      operationId: v1_aliexpress_listing_read
      description: Retrieve AliexpressListing instance
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BaseAliexpressListing'
      tags:
        - work_in_process
    put:
      operationId: v1_aliexpress_listing_update
      description: Update AliexpressListing instance
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAliexpressListing'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UpdateAliexpressListing'
      tags:
        - work_in_process
    patch:
      operationId: v1_aliexpress_listing_partial_update
      description: Patch AliexpressListing instance
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAliexpressListing'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UpdateAliexpressListing'
      tags:
        - work_in_process
    delete:
      operationId: v1_aliexpress_listing_delete
      description: Delete AliexpressListing instance
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        required: true
        type: string
  /v1/amazon/account/:
    get:
      operationId: v1_amazon_account_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BaseAmazonUserAccount'
      tags:
        - work_in_process
    post:
      operationId: v1_amazon_account_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAmazonUserAccount'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CreateAmazonUserAccount'
      tags:
        - work_in_process
    parameters: []
  '/v1/amazon/account/{id}/':
    get:
      operationId: v1_amazon_account_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BaseAmazonUserAccount'
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        required: true
        type: string
  /v1/ebay/account/:
    get:
      operationId: v1_ebay_account_list
      description: Получение списка аккаунтов eBay.
      parameters:
        - name: limit
          in: query
          description: Количество результатов для возврата на страницу.
          required: false
          type: integer
        - name: offset
          in: query
          description: Начальный индекс для возврата результатов.
          required: false
          type: integer
        - type: string
          in: query
          name: marketplace_user_account
          description: Фильтрация по ID аккаунта маркетплейса
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
                description: Кол-во вернувшихся объектов.
              next:
                type: string
                format: uri
                x-nullable: true
                description: Страница для получение следующей группы объектов.
              previous:
                type: string
                format: uri
                x-nullable: true
                description: Страница для получение предыдущей группы объектов.
              results:
                type: array
                description: Список аккаунтов eBay.
                items:
                  $ref: '#/definitions/EbayUserAccount'
            required:
              - count
              - results
          examples:
            Example:
              count: 1
              next: 'http://example.com'
              previous: 'http://example.com'
              results:
                - id: string
                  marketplace_user_account:
                    id: string
                    user: 0
                    marketplace: 0
                  profile:
                    businessAccount:
                      address:
                        addressLine1: string
                        addressLine2: string
                        city: string
                        county: string
                        postalCode: string
                        stateOrProvince: string
                        countryCode: AD
                      primaryContact:
                        firstName: string
                        lastName: string
                      primaryPhone:
                        countryCode: AD
                        number: string
                        phoneType: MOBILE
                      secondaryPhone:
                        countryCode: AD
                        number: string
                        phoneType: MOBILE
                      doingBusinessAs: string
                      email: user@example.com
                      name: string
                      website: string
                    individualAccount:
                      primaryPhone:
                        countryCode: AD
                        number: string
                        phoneType: MOBILE
                      registrationAddress:
                        addressLine1: string
                        addressLine2: string
                        city: string
                        county: string
                        postalCode: string
                        stateOrProvince: string
                        countryCode: AD
                      secondaryPhone:
                        countryCode: AD
                        number: string
                        phoneType: MOBILE
                      firstName: string
                      lastName: string
                      email: user@example.com
                    account_type: BUSINESS
                    registrationMarketplaceId: EBAY_US
                    status: CONFIRMED
                    userId: string
                    username: string
                    ebay_user_account: string
                  access_token: string
                  access_token_expiry: '2020-05-12T10:19:59Z'
                  refresh_token: string
                  refresh_token_expiry: '2020-05-12T10:19:59Z'
                  sandbox: true
      summary: Получение списка аккаунтов eBay
      tags:
        - ebay_account
    parameters: []
  /v1/ebay/account/complete/:
    parameters: []
    post:
      summary: Подключение или обновление аккаунта eBay
      operationId: post-v1-ebay-account-complete
      responses:
        '200':
          description: OK
      description: 'Создание или обновление аккаунта eBay с помощью кода, возвращаемым eBay при авторизации.'
      parameters:
        - type: string
          in: query
          name: code
          description: 'Код, полученный от eBay'
      tags:
        - ebay_account
  /v1/ebay/account/login/:
    parameters: []
    post:
      summary: Переход на страницу подключения аккаунта eBay
      operationId: post-v1-ebay-account-login
      responses:
        '302':
          description: Found
      description: Перенаправление пользователя на сайт eBay для авторизации.
      tags:
        - ebay_account
  '/v1/ebay/account/{id}/':
    get:
      operationId: v1_ebay_account_read
      description: Получение аккаунта eBay по id.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayUserAccount'
          examples:
            Example:
              id: string
              marketplace_user_account:
                id: string
                user: 0
                marketplace: 0
              profile:
                businessAccount:
                  address:
                    addressLine1: string
                    addressLine2: string
                    city: string
                    county: string
                    postalCode: string
                    stateOrProvince: string
                    countryCode: AD
                  primaryContact:
                    firstName: string
                    lastName: string
                  primaryPhone:
                    countryCode: AD
                    number: string
                    phoneType: MOBILE
                  secondaryPhone:
                    countryCode: AD
                    number: string
                    phoneType: MOBILE
                  doingBusinessAs: string
                  email: user@example.com
                  name: string
                  website: string
                individualAccount:
                  primaryPhone:
                    countryCode: AD
                    number: string
                    phoneType: MOBILE
                  registrationAddress:
                    addressLine1: string
                    addressLine2: string
                    city: string
                    county: string
                    postalCode: string
                    stateOrProvince: string
                    countryCode: AD
                  secondaryPhone:
                    countryCode: AD
                    number: string
                    phoneType: MOBILE
                  firstName: string
                  lastName: string
                  email: user@example.com
                account_type: BUSINESS
                registrationMarketplaceId: EBAY_US
                status: CONFIRMED
                userId: string
                username: string
                ebay_user_account: string
              access_token: string
              access_token_expiry: '2020-05-13T11:09:53Z'
              refresh_token: string
              refresh_token_expiry: '2020-05-13T11:09:53Z'
              sandbox: true
      summary: Получение аккаунта eBay
      tags:
        - ebay_account
    delete:
      operationId: v1_ebay_account_delete
      description: Данный Endpoint используется для удаления аккаунта eBay по id.
      parameters: []
      responses:
        '204':
          description: ''
      summary: Удаление аккаунта eBay
      tags:
        - ebay_account
    parameters:
      - name: id
        in: path
        required: true
        type: string
        format: uuid
        description: Идентификатор аккаунта eBay.
  /v1/ebay/category/:
    get:
      operationId: v1_ebay_category_list
      description: Получение списка категорий eBay
      parameters:
        - name: parent_id
          in: query
          description: ID родительской категории
          required: false
          type: string
        - name: level
          in: query
          description: Уровень вложенности категории
          required: false
          type: number
        - name: domain_id
          in: query
          description: 'ID домена маркетплейса, к которому относится категория'
          required: false
          type: number
        - name: is_leaf
          in: query
          description: Является ли категория листовой
          required: false
          type: string
        - name: category_id
          in: query
          description: ID категории в eBay
          required: false
          type: string
        - name: variations_supported
          in: query
          description: Поддерживаются ли вариации
          required: false
          type: string
        - name: transport_supported
          in: query
          description: Поддерживается ли транспорт
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/EbayCategory'
      tags:
        - ebay_category
      summary: Получение списка категорий eBay
    parameters: []
  '/v1/ebay/category/{id}/':
    get:
      operationId: v1_ebay_category_read
      description: Получение категории eBay по ID.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayCategory'
      tags:
        - ebay_category
      summary: Получение категории eBay
    parameters:
      - name: id
        in: path
        required: true
        type: string
  '/v1/ebay/category/{id}/compatibility_property/':
    get:
      operationId: v1_ebay_category_compatibility_property
      description: Возвращает все возможные наименования свойств для выбранной категории автотранспорта.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayCategory'
      tags:
        - ebay_category
      summary: ''
    parameters:
      - name: id
        in: path
        required: true
        type: string
  '/v1/ebay/category/{id}/compatibility_property/{name}/':
    get:
      operationId: v1_ebay_category_compatibility_property_value
      description: Возвращает все возможные значения для выбранного наименования свойства в выбранной категории автотранспорта.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayCategory'
      tags:
        - ebay_category
    parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: name
        in: path
        required: true
        type: string
  /v1/ebay/listing/:
    get:
      operationId: v1_ebay_listing_list
      description: Получение списка листингов eBay
      parameters:
        - name: status
          in: query
          description: Статус листинга eBay
          required: false
          type: string
        - name: channel
          in: query
          description: ID канала продаж
          required: false
          type: string
        - name: marketplace_user_account
          in: query
          description: ID аккаунта маркетплейса
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/EbayListing'
      tags:
        - ebay_listing
      summary: Получение списка листингов eBay
    post:
      operationId: v1_ebay_listing_create
      description: Локальное создание листинга eBay
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/EbayListing'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/EbayListing'
      tags:
        - ebay_listing
      summary: Локальное создание листинга eBay
    parameters: []
  /v1/ebay/listing/file_download/:
    get:
      operationId: v1_ebay_listing_file_download
      description: ''
      parameters:
        - name: title
          in: query
          description: ''
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: channel
          in: query
          description: ''
          required: false
          type: string
        - name: marketplace_user_account
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/EbayListing'
      tags:
        - work_in_process
    parameters: []
  /v1/ebay/listing/file_upload/:
    post:
      operationId: v1_ebay_listing_file_upload
      description: ''
      parameters:
        - name: id
          in: formData
          required: false
          type: string
          format: uuid
        - name: status
          in: formData
          required: false
          type: string
          enum:
            - draft
            - ready_to_be_published
            - published
            - update_required
        - name: published_at
          in: formData
          required: false
          type: string
          format: date-time
        - name: listing_sku
          in: formData
          required: true
          type: string
          maxLength: 255
          minLength: 1
        - name: groupListingId
          in: formData
          required: false
          type: string
          maxLength: 30
          x-nullable: true
        - name: title
          in: formData
          required: true
          type: string
          maxLength: 255
          minLength: 1
        - name: listing_description
          in: formData
          required: false
          type: string
          maxLength: 500000
          x-nullable: true
        - name: localizedFor
          in: formData
          required: false
          type: string
          enum:
            - en_US
            - en_CA
            - en_GB
            - en_AU
            - de_AT
            - fr_BE
            - fr_FR
            - de_DE
            - it_IT
            - nl_BE
            - nl_NL
            - es_ES
            - de_CH
            - zh_TW
            - zh_HK
            - en_IE
            - en_PH
            - pl_PL
            - ru_RU
            - th_TH
            - fr_CA
          x-nullable: true
        - name: currency
          in: formData
          required: false
          type: string
          enum:
            - RUB
            - USD
            - EUR
            - GBP
            - JPY
            - CNY
            - AUD
            - CAD
          x-nullable: true
        - name: bestOfferEnabled
          in: formData
          required: false
          type: boolean
        - name: auto_accepted_price
          in: formData
          required: false
          type: number
          x-nullable: true
        - name: auto_declined_price
          in: formData
          required: false
          type: number
          x-nullable: true
        - name: is_eligible
          in: formData
          required: false
          type: boolean
        - name: channel
          in: formData
          required: true
          type: string
          format: uuid
        - name: base_listing
          in: formData
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: location
          in: formData
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: category
          in: formData
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: fulfillmentPolicy
          in: formData
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: paymentPolicy
          in: formData
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: returnPolicy
          in: formData
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: group_image
          in: formData
          required: false
          type: string
          format: uuid
          x-nullable: true
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/EbayListing'
      consumes:
        - multipart/form-data
      tags:
        - work_in_process
    parameters: []
  '/v1/ebay/listing/remote_download_best_offers/{marketplace_user_account_id}/':
    get:
      operationId: v1_ebay_listing_remote_download_best_offers
      description: ''
      parameters:
        - name: title
          in: query
          description: ''
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: channel
          in: query
          description: ''
          required: false
          type: string
        - name: marketplace_user_account
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/EbayListing'
      tags:
        - work_in_process
    parameters:
      - name: marketplace_user_account_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/remote_download_list/{channel_id}/':
    get:
      operationId: v1_ebay_listing_remote_download_list
      description: Скачивание листингов eBay с канала продаж
      parameters: []
      tags:
        - ebay_listing
      summary: Скачивание листингов с eBay
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters:
      - name: channel_id
        in: path
        required: true
        type: string
        description: ID канала продаж
  '/v1/ebay/listing/{id}/':
    get:
      operationId: v1_ebay_listing_read
      description: Получение листинга eBay по ID
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayListing'
      tags:
        - ebay_listing
      summary: Получение листинга eBay
    put:
      operationId: v1_ebay_listing_update
      description: Локальное обновление листинга eBay
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/EbayListing'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayListing'
      tags:
        - ebay_listing
      summary: Локальное обновление листинга eBay
    delete:
      operationId: v1_ebay_listing_delete
      description: Локальное удаление листинга eBay
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - ebay_listing
      summary: Локальное удаление листинга eBay
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ID листинга eBay
  '/v1/ebay/listing/{id}/link/':
    post:
      operationId: v1_ebay_listing_link
      description: 'Если в теле запроса задано значение "base_listing_id", то листинг eBay привязывается к базовому листингу с таким ID. В противном случае на основе листинга eBay создается новый базовый листинг, к которому привязывается данный листинг eBay.'
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              base_listing_id:
                type: string
                description: ID базового листинга
      tags:
        - ebay_listing
      summary: Привязывание листинга eBay к базовому листингу
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ID листинга eBay
  '/v1/ebay/listing/{id}/remote_delete/':
    delete:
      operationId: v1_ebay_listing_remote_delete
      description: Удаление листинга с eBay
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - ebay_listing
      summary: Удаление листинга с eBay
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ID листинга eBay
  '/v1/ebay/listing/{id}/remote_sync/':
    post:
      operationId: v1_ebay_listing_remote_sync
      description: Создание листинга на eBay
      parameters: []
      tags:
        - ebay_listing
      summary: Создание листинга на eBay
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ID листинга eBay
  '/v1/ebay/listing/{id}/send_offer_to_buyers/':
    post:
      operationId: v1_ebay_listing_send_offer_to_buyers
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/EbayListing'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/EbayListing'
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/best_offer/':
    get:
      operationId: v1_ebay_listing_best_offer_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BaseEbayListingBestOffer'
      tags:
        - work_in_process
    parameters:
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/best_offer/{id}/':
    get:
      operationId: v1_ebay_listing_best_offer_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BaseEbayListingBestOffer'
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/best_offer/{id}/accept/':
    post:
      operationId: v1_ebay_listing_best_offer_accept_best_offer
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/BaseEbayListingBestOffer'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BaseEbayListingBestOffer'
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/best_offer/{id}/counter/':
    post:
      operationId: v1_ebay_listing_best_offer_counter_best_offer
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/BaseEbayListingBestOffer'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BaseEbayListingBestOffer'
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/best_offer/{id}/decline/':
    post:
      operationId: v1_ebay_listing_best_offer_decline_best_offer
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/BaseEbayListingBestOffer'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BaseEbayListingBestOffer'
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/compatibility/':
    get:
      operationId: v1_ebay_listing_compatibility_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Compatibility'
      tags:
        - work_in_process
      summary: ''
    post:
      operationId: v1_ebay_listing_compatibility_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCompatibility'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CreateCompatibility'
      tags:
        - work_in_process
    parameters:
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/compatibility/{compatibility_id}/property/':
    get:
      operationId: v1_ebay_listing_compatibility_property_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/EbayProductCompatibilityProperty'
      tags:
        - work_in_process
    post:
      operationId: v1_ebay_listing_compatibility_property_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/EbayProductCompatibilityProperty'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/EbayProductCompatibilityProperty'
      tags:
        - work_in_process
    parameters:
      - name: compatibility_id
        in: path
        required: true
        type: string
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/compatibility/{compatibility_id}/property/{id}/':
    get:
      operationId: v1_ebay_listing_compatibility_property_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayProductCompatibilityProperty'
      tags:
        - work_in_process
    put:
      operationId: v1_ebay_listing_compatibility_property_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/EbayProductCompatibilityProperty'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayProductCompatibilityProperty'
      tags:
        - work_in_process
    patch:
      operationId: v1_ebay_listing_compatibility_property_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/EbayProductCompatibilityProperty'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayProductCompatibilityProperty'
      tags:
        - work_in_process
    delete:
      operationId: v1_ebay_listing_compatibility_property_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - work_in_process
    parameters:
      - name: compatibility_id
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/compatibility/{id}/':
    get:
      operationId: v1_ebay_listing_compatibility_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Compatibility'
      tags:
        - work_in_process
    put:
      operationId: v1_ebay_listing_compatibility_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateCompatibility'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UpdateCompatibility'
      tags:
        - work_in_process
    delete:
      operationId: v1_ebay_listing_compatibility_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - work_in_process
    parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: listing_id
        in: path
        required: true
        type: string
  '/v1/ebay/listing/{listing_id}/product/':
    get:
      operationId: v1_ebay_listing_product_list
      description: Получение списка продуктов eBay
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/EbayProduct'
      summary: Получение списка продуктов eBay
      tags:
        - ebay_listing
    post:
      operationId: v1_ebay_listing_product_create
      description: Создание продукта eBay
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/EbayProduct'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/EbayProduct'
      tags:
        - ebay_listing
      summary: Локальное создание продукта eBay
    parameters:
      - name: listing_id
        in: path
        required: true
        type: string
        description: ID листинга eBay
  '/v1/ebay/listing/{listing_id}/product/{product_id}/':
    get:
      operationId: v1_ebay_listing_product_read
      description: Получение продукта eBay
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayProduct'
      tags:
        - ebay_listing
      summary: Получение продукта eBay
    put:
      operationId: v1_ebay_listing_product_update
      description: Обновление продукта eBay
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/EbayProduct'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/EbayProduct'
      tags:
        - ebay_listing
      summary: Локальное обновление продукта eBay
    delete:
      operationId: v1_ebay_listing_product_delete
      description: Удаление продукта eBay
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - ebay_listing
      summary: Локальное удаление продукта eBay
    parameters:
      - name: listing_id
        in: path
        required: true
        type: string
        description: ID листинга eBay
      - type: string
        name: product_id
        in: path
        required: true
        description: ID продукта eBay
  '/v1/ebay/listing/{listing_id}/product/{product_id}/specification/':
    get:
      operationId: v1_ebay_listing_product_specification_list
      description: Получение спецификаций продукта eBay
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Specification'
      summary: Получение спецификаций продукта eBay
      tags:
        - ebay_listing
    post:
      operationId: v1_ebay_listing_product_specification_create
      description: Создание спецификации продукта eBay
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSpecification'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CreateSpecification'
      tags:
        - ebay_listing
      summary: Локальное создание спецификации продукта eBay
    parameters:
      - name: listing_id
        in: path
        required: true
        type: string
        description: ID листинга eBay
      - name: product_id
        in: path
        required: true
        type: string
        description: ID продукта eBay
  '/v1/ebay/listing/{listing_id}/product/{product_id}/specification/{id}/':
    get:
      operationId: v1_ebay_listing_product_specification_read
      description: Получение спецификации продукта eBay
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Specification'
      summary: Получение спецификации продукта eBay
      tags:
        - ebay_listing
    put:
      operationId: v1_ebay_listing_product_specification_update
      description: Обновление спецификации продукта eBay
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateSpecification'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UpdateSpecification'
      tags:
        - ebay_listing
      summary: Локальное обновление спецификации продукта eBay
    delete:
      operationId: v1_ebay_listing_product_specification_delete
      description: Удаление спецификации продукта eBay
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - ebay_listing
      summary: Локальное удаление спецификации продукта eBay
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ID спецификации
      - name: listing_id
        in: path
        required: true
        type: string
        description: ID листинга eBay
      - name: product_id
        in: path
        required: true
        type: string
        description: ID продукта eBay
  /v1/ebay/location/:
    get:
      operationId: v1_ebay_location_list
      description: Получение списка складов eBay
      parameters:
        - name: status
          in: query
          description: Статус
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
        - type: string
          in: query
          name: marketplace_user_account
          description: ID аккаунта маркетплейса
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BaseEbayLocation'
      tags:
        - ebay_location
      summary: Получение списка складов eBay
    post:
      operationId: v1_ebay_location_create
      description: Локальное создание склада eBay
      parameters:
        - name: data
          in: body
          required: true
          schema:
            type: object
            properties:
              marketplace_user_account:
                type: string
                description: ID аккаунта маркетплейса
              name:
                type: string
                description: Название склада
              addressLine1:
                type: string
                description: Адрес
              city:
                type: string
                description: Город
              country:
                type: string
                description: Код страны
                example: RU
              phone:
                type: string
                description: Телефон
              postalCode:
                type: string
                description: Почтовый индекс
            required:
              - marketplace_user_account
              - name
              - city
              - country
      tags:
        - ebay_location
      summary: Локальное создание склада eBay
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters: []
  /v1/ebay/location/remote_download_list/:
    get:
      operationId: v1_ebay_location_remote_download_list
      description: Скачивание складов с eBay
      parameters:
        - name: marketplace_user_account_id
          in: query
          description: ID аккаунта маркетплейса
          required: false
          type: string
      tags:
        - ebay_location
      summary: Скачивание складов с eBay
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters: []
  '/v1/ebay/location/{id}/':
    get:
      operationId: v1_ebay_location_read
      description: Получение склада eBay по ID
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BaseEbayLocation'
        '':
          schema:
            $ref: ''
      tags:
        - ebay_location
      summary: Получение склада eBay
    put:
      operationId: v1_ebay_location_update
      description: Локальное обновление склада eBay
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateEbayLocation'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UpdateEbayLocation'
      tags:
        - ebay_location
      summary: Локальное обновление склада eBay
    delete:
      operationId: v1_ebay_location_delete
      description: Локальное удаление склада eBay
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - ebay_location
      summary: Локальное удаление склада eBay
    parameters:
      - name: id
        in: path
        required: true
        type: string
  '/v1/ebay/location/{id}/remote_create_or_update/':
    post:
      operationId: v1_ebay_location_remote_create
      description: Создание или обновление склада на eBay
      parameters: []
      tags:
        - ebay_location
      summary: Создание или обновление склада на eBay
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters:
      - name: id
        in: path
        required: true
        type: string
  '/v1/ebay/location/{id}/remote_delete/':
    delete:
      operationId: v1_ebay_location_remote_delete
      description: Удаление склада с eBay
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - ebay_location
      summary: Удаление склада с eBay
    parameters:
      - name: id
        in: path
        required: true
        type: string
  /v1/ebay/messages/:
    get:
      operationId: v1_ebay_negotiation_message_list
      description: Получение списка сообщений eBay из базы данных.
      parameters:
        - name: search
          in: query
          description: 'Поиск сообщения по отправителю, заголовку и содержимому'
          required: false
          type: string
        - name: marketplace_user_account
          in: query
          description: |
            ID аккаунта маркетплейса
          required: false
          type: string
        - name: folder_id
          in: query
          description: ID папки
          required: false
          type: integer
        - name: read
          in: query
          description: Прочитано ли сообщение
          required: false
          type: boolean
        - name: replied
          in: query
          description: Отправлен ли на сообщение ответ
          required: false
          type: boolean
        - name: start_date
          in: query
          description: 'Выводить сообщения, полученные не ранее этой даты'
          required: false
          type: string
        - name: end_date
          in: query
          description: 'Выводить сообщения, полученные не позднее этой даты'
          required: false
          type: string
        - name: response_enabled
          in: query
          description: Можно ли ответить на сообщение
          required: false
          type: boolean
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: Список сообщений
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/EbayMessageList'
      summary: Получение списка сообщений eBay
      tags:
        - ebay_messages
    parameters: []
  /v1/ebay/messages/remote_download_list/:
    get:
      operationId: v1_ebay_negotiation_message_remote_download_list
      description: Скачивание всех сообщений eBay в базу данных за указанный срок и из указанных папок.
      parameters:
        - type: string
          in: query
          name: marketplace_user_account_id
          required: true
          description: ID аккаунта маркетплейса
        - type: integer
          in: query
          name: days_ago
          description: За какое количество дней до настоящего времени полученные сообщения eBay нужно скачивать (по умолчанию за последние 90 дней)
        - type: array
          in: query
          name: folder_ids
          description: 'Из каких папок скачивать сообщения (по умолчанию из папок "Входящие" и "Исходящие")'
      tags:
        - ebay_messages
      summary: Скачивание сообщений eBay
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters: []
  /v1/ebay/message/summary/:
    get:
      operationId: v1_ebay_negotiation_message_summary
      description: |-
        Возвращает кол-во сообщений в папках inbox (входящие) и sent (исходящие),
        а также фильтрует входящие по подпапкам: read (прочитано), unread (непрочитано) и replied (отвечено).
      parameters:
        - name: marketplace_user_account_id
          in: query
          description: ID аккаунта маркетплейса
          required: true
          type: string
      responses:
        '200':
          description: Сводка по количеству сообщений
          schema:
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: object
                properties:
                  inbox:
                    type: object
                    description: 'Информация о папке "Входящие"'
                    properties:
                      total:
                        type: string
                        description: Количестводящих сообщений
                      read:
                        type: string
                        description: Количество прочитанных сообщений
                      unread:
                        type: string
                        description: Количество непрочитанных сообщений
                      replied:
                        type: string
                        description: Количество отвеченных сообщений
                  sent:
                    type: string
                    description: Количество отправленных сообщений
            required:
              - count
      summary: Получение сводки по количеству сообщений eBay
      tags:
        - ebay_messages
    parameters: []
  /v1/ebay/messages/remote_delete/:
    delete:
      operationId: v1_ebay_negotiation_message_remote_delete
      description: Удаление одного или нескольких сообщений eBay одновременно из базы данных и с eBay.
      parameters:
        - type: string
          in: query
          name: marketplace_user_account_id
          required: true
          description: ID аккаунта маркетплейса
        - type: array
          in: query
          name: message_ids
          required: true
          description: 'ID сообщений eBay, которые нужно удалить'
      responses:
        '204':
          description: ''
      summary: Удаление сообщений eBay
      tags:
        - ebay_messages
    parameters: []
  /v1/ebay/messages/remote_mark_as_read/:
    post:
      operationId: v1_ebay_negotiation_message_remote_mark_as_read
      description: Отмечивание одного или нескольких сообщений eBay как прочитанных.
      parameters:
        - type: string
          in: query
          name: marketplace_user_account_id
          description: ID аккаунта маркетплейса
          required: true
        - type: array
          in: query
          name: message_ids
          required: true
          description: 'ID сообщений eBay, которые нужно отметить прочитанными'
      summary: Отметить сообщения eBay прочитанными
      tags:
        - ebay_messages
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters: []
  '/v1/ebay/messages/{message_id}/':
    get:
      operationId: v1_ebay_negotiation_message_read
      description: Получение из базы данных сообщения eBay по его ID.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BaseEbayMessage'
      summary: Получение сообщения eBay
      tags:
        - ebay_messages
    parameters:
      - name: message_id
        in: path
        required: true
        type: string
        description: ID сообщения
  '/v1/ebay/messages/{message_id}/remote_reply/':
    post:
      operationId: v1_ebay_negotiation_message_remote_reply
      description: Отправить ответ на входящее сообщение eBay.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              message_body:
                type: string
          x-examples:
            example-1:
              message_body: Yet another test
          description: Содержимое ответного сообщения
        - in: body
          name: body
          schema:
            type: object
            properties:
              message_body:
                type: string
          x-examples:
            example-1: {}
      tags:
        - ebay_messages
      summary: Ответ на сообщение eBay
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters:
      - name: message_id
        in: path
        required: true
        type: string
        description: |
          ID входящего сообщения от пользователя eBay, на которое отправляется ответ
  /v1/ebay/notification/process/:
    post:
      operationId: v1_ebay_notification_process_create
      description: ''
      parameters: []
      responses:
        '201':
          description: ''
      consumes:
        - text/xml
      tags:
        - work_in_process
    parameters: []
  /v1/ebay/policy/fulfillment/:
    get:
      operationId: v1_ebay_policy_fulfillment_list
      description: Данный Endpoint используется для получения списка политик фулфилмента eBay.
      parameters:
        - name: channel
          in: query
          description: Идентификатор канала продаж.
          type: string
          format: uuid
        - name: limit
          in: query
          description: Количество результатов для возврата на страницу.
          required: false
          type: integer
        - name: offset
          in: query
          description: Начальный индекс для возврата результатов.
          required: false
          type: integer
        - type: string
          in: query
          name: category_type
          description: Тип категории политики
        - type: string
          in: query
          name: status
          description: Статус
        - type: string
          in: query
          name: search
          description: Поиск по названию и описанию
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              count:
                type: integer
                description: Кол-во вернувшихся объектов.
              next:
                type: string
                format: uri
                x-nullable: true
                description: Страница для получение следующей группы объектов.
              previous:
                type: string
                format: uri
                x-nullable: true
                description: Страница для получение предыдущей группы объектов.
              results:
                type: array
                description: Список fulfillment политик.
                items:
                  $ref: '#/definitions/BaseFulfillmentPolicy'
            required:
              - count
              - results
          examples:
            Example:
              count: 1
              next: 'http://example.com'
              previous: 'http://example.com'
              results:
                - id: string
                  channel: string
                  description: string
                  name: string
                  policy_id: string
                  status: draft
                  categoryTypes:
                    - default: true
                      name: MOTORS_VEHICLES
                  handlingTime:
                    unit: string
                    value: 0
                  shippingOptions:
                    - insuranceFee:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      packageHandlingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shippingServices:
                        - additionalShippingCost:
                            currency: RUB
                            value: 0
                            convertedFromCurrency: RUB
                            convertedFromValue: 0
                          cashOnDeliveryFee:
                            currency: RUB
                            value: 0
                            convertedFromCurrency: RUB
                            convertedFromValue: 0
                          shippingCost:
                            currency: RUB
                            value: 0
                            convertedFromCurrency: RUB
                            convertedFromValue: 0
                          shipToLocations:
                            regionExcluded:
                              - regionName: string
                                regionType: COUNTRY
                            regionIncluded:
                              - regionName: string
                                regionType: COUNTRY
                          surcharge:
                            currency: RUB
                            value: 0
                            convertedFromCurrency: RUB
                            convertedFromValue: 0
                          buyerResponsibleForPickup: true
                          buyerResponsibleForShipping: true
                          freeShipping: true
                          shippingCarrierCode: Other
                          shippingServiceCode: string
                          sortOrder: 1
                      costType: CALCULATED
                      insuranceOffered: true
                      optionType: DOMESTIC
                      rateTableId: string
                  shipToLocations:
                    regionExcluded:
                      - regionName: string
                        regionType: COUNTRY
                    regionIncluded:
                      - regionName: string
                        regionType: COUNTRY
      summary: Получение списка политик фулфилмента eBay
      tags:
        - ebay_fulfillment_policy
    post:
      operationId: v1_ebay_policy_fulfillment_create
      description: Данный Endpoint используется для локального создания новой политики фулфилмента eBay.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateFulfillmentPolicy'
          x-examples:
            Example:
              channel: string
              description: string
              name: string
              categoryTypes:
                - default: true
                  name: MOTORS_VEHICLES
              handlingTime:
                value: 0
              shippingOptions:
                - insuranceFee:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  packageHandlingCost:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  shippingServices:
                    - additionalShippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      cashOnDeliveryFee:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shipToLocations:
                        regionExcluded:
                          - regionName: string
                            regionType: COUNTRY
                        regionIncluded:
                          - regionName: string
                            regionType: COUNTRY
                      surcharge:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      buyerResponsibleForPickup: true
                      buyerResponsibleForShipping: true
                      freeShipping: true
                      shippingCarrierCode: Other
                      shippingServiceCode: string
                      sortOrder: 1
                  costType: CALCULATED
                  insuranceOffered: true
                  optionType: DOMESTIC
                  rateTableId: string
              shipToLocations:
                regionExcluded:
                  - regionName: string
                    regionType: COUNTRY
                regionIncluded:
                  - regionName: string
                    regionType: COUNTRY
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateFulfillmentPolicy'
          x-examples:
            example-1: {}
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CreateFulfillmentPolicy'
          examples:
            Example:
              channel: string
              description: string
              name: string
              categoryTypes:
                - default: true
                  name: MOTORS_VEHICLES
              handlingTime:
                value: 0
              shippingOptions:
                - insuranceFee:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  packageHandlingCost:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  shippingServices:
                    - additionalShippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      cashOnDeliveryFee:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shipToLocations:
                        regionExcluded:
                          - regionName: string
                            regionType: COUNTRY
                        regionIncluded:
                          - regionName: string
                            regionType: COUNTRY
                      surcharge:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      buyerResponsibleForPickup: true
                      buyerResponsibleForShipping: true
                      freeShipping: true
                      shippingCarrierCode: Other
                      shippingServiceCode: string
                      sortOrder: 1
                  costType: CALCULATED
                  insuranceOffered: true
                  optionType: DOMESTIC
                  rateTableId: string
              shipToLocations:
                regionExcluded:
                  - regionName: string
                    regionType: COUNTRY
                regionIncluded:
                  - regionName: string
                    regionType: COUNTRY
      summary: Локальное создание политики фулфилмента eBay
      tags:
        - ebay_fulfillment_policy
    parameters: []
  /v1/ebay/policy/fulfillment/remote_download_list/:
    get:
      operationId: v1_ebay_policy_fulfillment_remote_download_list
      description: Данный Endpoint используется для скачивания списка политик фулфилмента с eBay.
      parameters:
        - name: channel_id
          in: query
          description: Идентификатор канала продаж.
          required: false
          type: string
          format: uuid
      summary: Скачивание политик фулфилмента с eBay
      tags:
        - ebay_fulfillment_policy
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: {}
    parameters: []
  '/v1/ebay/policy/fulfillment/{id}/':
    get:
      operationId: v1_ebay_policy_fulfillment_read
      description: Данный Endpoint используется для получения политики фулфилмента eBay по id.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BaseFulfillmentPolicy'
          examples:
            Example:
              id: string
              channel: string
              description: string
              name: string
              policy_id: string
              status: draft
              categoryTypes:
                - default: true
                  name: MOTORS_VEHICLES
              handlingTime:
                unit: string
                value: 0
              shippingOptions:
                - insuranceFee:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  packageHandlingCost:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  shippingServices:
                    - additionalShippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      cashOnDeliveryFee:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shipToLocations:
                        regionExcluded:
                          - regionName: string
                            regionType: COUNTRY
                        regionIncluded:
                          - regionName: string
                            regionType: COUNTRY
                      surcharge:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      buyerResponsibleForPickup: true
                      buyerResponsibleForShipping: true
                      freeShipping: true
                      shippingCarrierCode: Other
                      shippingServiceCode: string
                      sortOrder: 1
                  costType: CALCULATED
                  insuranceOffered: true
                  optionType: DOMESTIC
                  rateTableId: string
              shipToLocations:
                regionExcluded:
                  - regionName: string
                    regionType: COUNTRY
                regionIncluded:
                  - regionName: string
                    regionType: COUNTRY
      summary: Получение политики фулфилмента eBay
      tags:
        - ebay_fulfillment_policy
    put:
      operationId: v1_ebay_policy_fulfillment_update
      description: Данный Endpoint используется для локального обновления политики фулфилментa eBay.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateFulfillmentPolicy'
          x-examples:
            Example:
              description: string
              name: string
              categoryTypes:
                - default: true
                  name: MOTORS_VEHICLES
              handlingTime:
                value: 0
              shippingOptions:
                - insuranceFee:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  packageHandlingCost:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  shippingServices:
                    - additionalShippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      cashOnDeliveryFee:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shipToLocations:
                        regionExcluded:
                          - regionName: string
                            regionType: COUNTRY
                        regionIncluded:
                          - regionName: string
                            regionType: COUNTRY
                      surcharge:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      buyerResponsibleForPickup: true
                      buyerResponsibleForShipping: true
                      freeShipping: true
                      shippingCarrierCode: Other
                      shippingServiceCode: string
                      sortOrder: 1
                  costType: CALCULATED
                  insuranceOffered: true
                  optionType: DOMESTIC
                  rateTableId: string
              shipToLocations:
                regionExcluded:
                  - regionName: string
                    regionType: COUNTRY
                regionIncluded:
                  - regionName: string
                    regionType: COUNTRY
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateFulfillmentPolicy'
          x-examples:
            example-1: {}
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreateFulfillmentPolicy'
          examples:
            Example:
              id: string
              channel: string
              description: string
              name: string
              policy_id: string
              status: draft
              categoryTypes:
                - default: true
                  name: MOTORS_VEHICLES
              handlingTime:
                unit: string
                value: 0
              shippingOptions:
                - insuranceFee:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  packageHandlingCost:
                    currency: RUB
                    value: 0
                    convertedFromCurrency: RUB
                    convertedFromValue: 0
                  shippingServices:
                    - additionalShippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      cashOnDeliveryFee:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shippingCost:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      shipToLocations:
                        regionExcluded:
                          - regionName: string
                            regionType: COUNTRY
                        regionIncluded:
                          - regionName: string
                            regionType: COUNTRY
                      surcharge:
                        currency: RUB
                        value: 0
                        convertedFromCurrency: RUB
                        convertedFromValue: 0
                      buyerResponsibleForPickup: true
                      buyerResponsibleForShipping: true
                      freeShipping: true
                      shippingCarrierCode: Other
                      shippingServiceCode: string
                      sortOrder: 1
                  costType: CALCULATED
                  insuranceOffered: true
                  optionType: DOMESTIC
                  rateTableId: string
              shipToLocations:
                regionExcluded:
                  - regionName: string
                    regionType: COUNTRY
                regionIncluded:
                  - regionName: string
                    regionType: COUNTRY
      summary: Локальное обновление политики фулфилмента eBay
      tags:
        - ebay_fulfillment_policy
    delete:
      operationId: v1_ebay_policy_fulfillment_delete
      description: Данный Endpoint используется для локального удаления политики фулфилмента eBay.
      parameters: []
      responses:
        '204':
          description: ''
      summary: Локальное удаление политики фулфилмента eBay
      tags:
        - ebay_fulfillment_policy
    parameters:
      - name: id
        in: path
        required: true
        type: string
        description: Идентификатор fuflillment политики.
        format: uuid
  '/v1/ebay/policy/fulfillment/{id}/remote_create_or_update/':
    post:
      operationId: v1_ebay_policy_fulfillment_remote_create
[...]
